<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="vue.min.js"></script>
	<script src="vue-resource.js"></script>
	<script src="cryptico.min.js"></script>
	<script src="cryptico.addons.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</style>
<title>I am a test page</title>
<script type="text/javascript">
	window.onload = function(e){
		
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Blockchain Test Page',
				thechain:[],
				from:"555",
				to:"234",
				amount:1.0,
				transactions:[],
				publickey:"",
				privatekey:"",
				publicid:"",
				hash:""
			},
			methods:{
				add: function () {
					var msg = {Sender: this.from, Recipient:this.to, Amount:Number(this.amount)};
					msgenc = this.encrypt(msg);
					var send= {Transaction:msg,Data: msgenc,Key:this.privatekey,PublicKey:this.publickey};
					console.log(send);

					this.$http.post('/api/add',send).then(response => {
						this.transactions = response.body;
					}, response => {
						console.log('error');
					});
				},
				encrypt:function(msg){
					console.log("encrypt....");
					console.log(msg);
					msg=JSON.stringify(msg);
					// var EncryptionResult = cryptico.encrypt(msg, this.privatekey);
					var EncryptionResult = cryptico.encrypt(msg, this.publickey, this.privatekey)

					console.log(EncryptionResult);
					console.log(cryptico.decrypt(EncryptionResult.cipher,this.privatekey));
					return EncryptionResult.cipher;



				},
				getTransactions:function(){
					this.$http.get('/api/transactions').then(response => {
						this.transactions = response.body;
					}, response => {
						console.log('error');
					});
				},				
				mine:function(){
					this.$http.get('/api/mine').then(response => {
						this.thechain = response.body;
						this.transactions=[];
					}, response => {
						console.log('error');
					});
				},
				createKey:function(){
					var PassPhrase = "The Moon is a Harsh Mistress." + Math.random();
					var Bits = 512;

					console.log("Matt's passphrase: " + PassPhrase);
					console.log("Bit length: " + Bits);


					this.privatekey = cryptico.generateRSAKey(PassPhrase, Bits);
					this.publickey = cryptico.publicKeyString(this.privatekey);       

					localStorage.setItem('key', (this.privatekey.toJSON()));
					console.log(localStorage);
					console.log("Matt's public key string:");
					console.log(this.publickey);

					var PlainText = "Matt, I need you to help me with my Starcraft strategy.";

					console.log("Sam's message: " + PlainText);

					var EncryptionResult = cryptico.encrypt(PlainText, this.privatekey);
					console.log(EncryptionResult);
					console.log(this.privatekey);

					this.publicid = cryptico.publicKeyID(this.publickey);
					this.from = this.publicid;
				},
				loadKey:function(){
					var key = localStorage.getItem('key');
					if(key){
						console.log(key);
						this.privatekey=fromJSON(key);
						console.log(this.privatekey);
						this.publickey = cryptico.publicKeyString(this.privatekey);  
						this.publicid = (cryptico.publicKeyID(this.publickey));
						this.from=this.publicid;


					}
				}

			},
			created: function () {
				//loadkey
				this.loadKey();
				this.$http.get('/api/chain').then(response => {
					this.thechain = response.body;
				}, response => {
					console.log('error');
				});
				this.getTransactions();
			}
		})
	}
</script>
</head>
<body>
	<div id="app">
		<h1>{{message}}</h1>
		<div class="container">
			<div id="s1" class="section">
				<h2>Add a Transaction</h2>
				<form>
					<label>From: </label>
					<input type="text" v-model="from"><br>
					<label>To:</label>
					<input type="text" v-model="to">		<br>
					<label>Amount:</label>
					<input type="number" v-model="amount">
					<button type="button" v-on:click="add()">Add Transaction</button>
				</form>
			</div>
			<div id="s2" class="section">
				<h2>Mine a Coin?</h2>
				<!-- <p>private key {{privatekey}}</p> -->
				<p>Public key <a href='' onclick="localStorage.clear()">x</a> {{publickey}}</p>
				<p>Public ID {{publicid}}</p>

				<div v-if="this.privatekey==''">
					<button type="button" v-on:click="createKey()" style="font-size: 40px;">createKey </button><br><br>
				</div>
				<button type="button" v-on:click="mine()" style="font-size: 40px;">MINE </button>
			</div>
			<div id="s3" class="section">
				<h2>Pending Transactions</h2>
				<pre>{{transactions}}</pre>
			</div>
		</div>
		<h2>The Chain</h2>
		<div class="container">
			<div>
				<pre>{{thechain}}</pre>
			</div>
		</div>
	</div>
</body>
</html>
