<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="vue.min.js"></script>
	<script src="sha256.min.js"></script>
	<script src="vue-resource.js"></script>
	<!-- <script src="cryptico.min.js"></script> -->
	<!-- <script src="cryptico.addons.js"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</style>
<title>I am a test page</title>
<script type="text/javascript">
	window.onload = function(e){
		
		var algo="RSASSA-PKCS1-v1_5";
		var sig;		
		var algorithminfo = {
			name: "RSASSA-PKCS1-v1_5",
			modulusLength: 2048, 
			publicExponent: new Uint8Array([0x01, 0x00, 0x01]),
			hash: {name: "SHA-256"},
		};

		

		var app = new Vue({
			el: '#app',
			data: {
				message: 'Blockchain Test Page',
				thechain:[],
				from:"555",
				to:"234",
				amount:1.0,
				transactions:[],
				publickey:"",
				privatekey:"",
				publicid:"",
				hash:""
			},
			methods:{
				add: function () {
					// sign(key)
					var msg = {Sender: this.from, Recipient:this.to, Amount:Number(this.amount)};					
					var sign = this.sign(this.privatekey,msg)
					console.log(sign);
					
				},
				sign:function(key,msg){
					var msgenc = this.encodemsg(msg);
					console.log(msgenc);
					var that=this;

					crypto.subtle.sign({name: algo}, key, msgenc)
					.then(function(signature){ 		
						console.log("new Uint8Array(signature)");
						var sig=(new Uint8Array(signature));
						console.log("signature");
						console.log(signature);

						console.log("that.publickey");
						console.log(that.publickey);

						var send = JSON.stringify({Transaction:msg,Signature: sig,Key:JSON.parse(localStorage.getItem('public'))});

						console.log(send);
						console.log(that.verify(signature,msgenc));

						that.$http.post('/api/add',send).then(response => {
							that.transactions = response.body;
						}, response => {
							console.log('error');
						});

						/* verify(public_key_object,signature,encodedmsg);*/
					})
					.catch(function(err){
						console.error(err);
					});
				},
				verify:function(sig,data){ 
					var type={name: "RSASSA-PKCS1-v1_5"};
					window.crypto.subtle.verify(type,this.publickey, sig, data)
					.then(function(isvalid){
						console.log(isvalid);
					})
					.catch(function(err){
						console.error(err);
					});

				},
				encodemsg:function(msg){
					var enc = new TextEncoder("utf-8");
					var encodedmsg = enc.encode(msg);
					console.log("encodedmsg");
					console.log(encodedmsg);
					return encodedmsg;
				},			
				getTransactions:function(){
					this.$http.get('/api/transactions').then(response => {
						this.transactions = response.body;
					}, response => {
						console.log('error');
					});
				},				
				mine:function(){
					this.$http.get('/api/mine').then(response => {
						this.thechain = response.body;
						this.transactions=[];
					}, response => {
						console.log('error');
					});
				},
				importkey:function(privkeydat,pubkeydata){
					var that=this;					
					window.crypto.subtle.importKey("jwk",privkeydata,algorithminfo,true, ["sign"])
					.then(function(publicKey){    
						console.log(publicKey);
						that.privatekey=publicKey;
					})

					window.crypto.subtle.importKey("jwk",pubkeydata,algorithminfo,true, ["verify"])
					.then(function(publicKey){    
						console.log(publicKey);
						that.publickey=publicKey;
						that.publicid=sha256(JSON.stringify(publicKey));
						that.from=that.publicid;
						console.log(that.publicid);
					})
				},
				exportkey:function(key){
					window.crypto.subtle.exportKey("jwk", key.privateKey)
					.then(function(keydata){
						localStorage.setItem('private', JSON.stringify(keydata));
					})
					window.crypto.subtle.exportKey("jwk", key.publicKey)
					.then(function(keydata){
						localStorage.setItem('public', JSON.stringify(keydata));
					})
				},
				createKey:function(){
					var crypto = window.crypto;
					var that=this;
					if(crypto.subtle)
					{
						console.log("Cryptography API Supported");
						promise_key = crypto.subtle.generateKey(algorithminfo, true, ["sign","verify"]);
						promise_key.then(function(key){
							that.privatekey = key.privateKey;
							that.publickey = key.publicKey;					
							console.log(key.privateKey);
							console.log(key.publicKey);
							that.exportkey(key);
							that.publicid=sha256(JSON.stringify(that.publickey));
							that.from=that.publicid;
							
						})
					}
					else{
						alert("Crypto not supported!");
					}
				},
				loadKey:function(){
					var privkey = localStorage.getItem('private');
					var pubkey = localStorage.getItem('public');
					if(privkey){
						console.log("loaded key");
						privkeydata=JSON.parse(privkey);
						pubkeydata=JSON.parse(pubkey);
						this.importkey(privkeydata,pubkeydata);
					}
				}

			},
			created: function () {
				//loadkey
				this.loadKey();
				this.$http.get('/api/chain').then(response => {
					this.thechain = response.body;
				}, response => {
					console.log('error');
				});
				this.getTransactions();
			}
		})
}
</script>
</head>
<body>
	<div id="app">
		<h1>{{message}}</h1>
		<div class="container">
			<div id="s1" class="section">
				<h2>Add a Transaction</h2>
				<form>
					<label>From: </label>
					<input type="text" v-model="from"><br>
					<label>To:</label>
					<input type="text" v-model="to">		<br>
					<label>Amount:</label>
					<input type="number" v-model="amount">
					<button type="button" v-on:click="add()">Add Transaction</button>
				</form>
			</div>
			<div id="s2" class="section">
				<h2>Mine a Coin?</h2>
				<!-- <p>private key {{privatekey}}</p> -->
				<p>Public key <a href='' onclick="localStorage.clear()">x</a> {{publickey}}</p>
				<p>Public ID {{publicid}}</p>

				<div v-if="this.privatekey==''">
					<button type="button" v-on:click="createKey()" style="font-size: 40px;">createKey </button><br><br>
				</div>
				<button type="button" v-on:click="mine()" style="font-size: 40px;">MINE </button>
			</div>
			<div id="s3" class="section">
				<h2>Pending Transactions</h2>
				<pre>{{transactions}}</pre>
			</div>
		</div>
		<h2>The Chain</h2>
		<div class="container">
			<div>
				<pre>{{thechain}}</pre>
			</div>
		</div>
	</div>
</body>
</html>
