body {
	margin: 20px;
	background-color: #F3E5F5;
}
.section {
	font-size: 20px;
	width: 33.33%;
	background-color: #eee;
	min-height: 300px;
	padding:20px;
}
@media only screen and (max-width:800px) {
	.container {
		display: block !important;
	}
	.section {
		width: 88%;
	}

}

.container {
	display: flex;
}

#s1 {
	background-color: darkorange;
}

#s2 {
	background-color: pink;
}

#s3 {
	background-color: paleturquoise;
}

label {
	display: inline-block;
	width: 90px;
}
p{
	overflow-wrap: break-word;
}
button{
	background-color: white;
	border:0;
}
